<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="form-container">
        <h1>Add a New Blog Post</h1>
        <form method="POST">
            <label for="id">ID:</label>
            <input type="number" name="id" required>

            <label for="author">Author:</label>
            <input type="text" name="author" required>

            <label for="title">Title:</label>
            <input type="text" name="title" required>

            <label for="content">Content:</label>
            <textarea name="content" required></textarea>

            <input type="submit" value="Add Post">
        </form>
    </div>
</body>
</html>